
    .m-portlet {
        -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
        -moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
        box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
        background-color: #fff
    }
    
    .m-portlet .m-portlet {
        color: #575962
    }
    
    .m-portlet .m-portlet__foot:not(.m-portlet__no-border) {
        border-top: 1px solid #ebedf2
    }
    
    .m-portlet .m-portlet__foot:not(.m-portlet__no-border).m-portlet__foot--top {
        border-top: 0;
        border-bottom: 1px solid #ebedf2
    }
    
    .m-portlet .m-portlet__foot:not(.m-portlet__no-border).m-portlet__foot-no-border {
        border: 0
    }
    
    .m-portlet.m-portlet--bordered {
        border: 1px solid #ebedf2
    }
    .m-portlet.ui-sortable-helper {
        border: 1px dashed #ebedf2
    }
    
    .m-portlet .m-portlet-separator {
        border-bottom: 1px solid #f4f5f8
    }
    
    .m-portlet.m-portlet--skin-dark {
        -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .55);
        -moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .55);
        box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .55);
        background-color: #2c2e3e
    }
    .m-portlet.m-portlet--skin-dark .m-portlet {
        color: #fff
    }
    
    .m-portlet.m-portlet--skin-dark .m-portlet__foot:not(.m-portlet__no-border) {
        border-top: 1px solid #a1a4b1
    }
    
    .m-portlet.m-portlet--skin-dark .m-portlet__foot:not(.m-portlet__no-border).m-portlet__foot--top {
        border-top: 0;
        border-bottom: 1px solid #a1a4b1
    }
    
    .m-portlet.m-portlet--skin-dark .m-portlet__foot:not(.m-portlet__no-border).m-portlet__foot-no-border {
        border: 0
    }
    
    .m-portlet.m-portlet--skin-dark.m-portlet--bordered {
        border: 1px solid #a1a4b1
    }

    .m-portlet.m-portlet--skin-dark.ui-sortable-helper {
        border: 1px dashed #a1a4b1
    }
    .m-widget4 .m-widget4__item {
        display: table;
        padding-top: 1.15rem;
        padding-bottom: 1.25rem;
        border-radius:50px;
        border: 1px solid #ebedf2;
        margin: 10px;
        padding: 5px;
    }
    
    .m-widget4 .m-widget4__item .m-widget4__img {
        display: table-cell;
        vertical-align: middle
    }
    
    .m-widget4 .m-widget4__item .m-widget4__img.m-widget4__img--logo img {
        width: 3.5rem;
        border-radius: 50%
    }
    
    .m-widget4 .m-widget4__item .m-widget4__img.m-widget4__img--pic img {
        width: 4rem;
        border-radius: 50%
    }
    
    .bordeChatSeleccionado {
        border: 5px solid #7498f3;
    }
    .m-widget4 .m-widget4__item .m-widget4__img.m-widget4__img--icon img {
        /* width: 2.1rem */
    }
    
    .m-widget4 .m-widget4__item .m-widget4__info {
        display: table-cell;
        width: 100%;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        font-size: 1rem;
        vertical-align: middle
    }
    
    .m-widget4 .m-widget4__item .m-widget4__info .m-widget4__text {
        font-size: 1rem;
        font-weight: 500
    }
    
    .m-widget4 .m-widget4__item .m-widget4__info .m-widget4__title {
        font-size: 1rem;
        font-weight: 600
    }
    
    .m-widget4 .m-widget4__item .m-widget4__info .m-widget4__sub {
        font-size: .85rem
    }
    
    .m-widget4 .m-widget4__item .m-widget4__ext {
        display: table-cell;
        vertical-align: middle
    }
    
    .m-widget4 .m-widget4__item .m-widget4__ext .m-widget4__number {
        font-size: 1.2rem;
        font-weight: 600
    }
    
    .m-widget4 .m-widget4__item .m-widget4__ext .m-widget4__icon>i {
        font-size: 1.6rem
    }
    
    .m-widget4 .m-widget4__item .m-widget4__ext .m-widget4__icon.m-widget4__icon--2x>i {
        font-size: 2.2rem
    }
    
    .m-widget4 .m-widget4__item .m-widget4__ext .m-widget4__icon:hover {
        text-decoration: none
    }
    
    .m-widget4.m-widget4--progress .m-widget4__info {
        width: 50%
    }

    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: 2px solid #999;
        transition: 0.2s all linear;
        margin-right: 5px;
        position: relative;
        top: 4px;
    }

    input:checked {
        border: 6px solid black;
    }

